{
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "func-style": 0,
    "operator-linebreak": 0,
    "security/detect-non-literal-regexp": 0,
    "no-unused-expressions": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/ban-types": 0,
    "@typescript-eslint/no-var-requires": 0,
    "comma-dangle": 0,
    "no-prototype-builtins": 0
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "emarsys"
  ]
}
